@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


    
	* {
        box-sizing: border-box;
    }
    
    .boddy {
        background-image: url('../../assets/Register/background.png');
        background-size: auto;
        background-position: 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100%;
        padding-top: 50px;
        margin-bottom: 0px;
    }

    .texto {
        font-weight: bold;
        color: #646FD4;
        margin: 0;
        padding-bottom: 10px;
    }

    .para {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }


    .here {
        border-radius: 20px;
        border: 1px solid #646FD4;
        background-color: #646FD4;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    button:active {
        transform: scale(0.95);
    }


    .forma {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    .forma .gee {
        background-color: #eee;
    }

    .forma a {
        color: #242F9B;
        font-weight: bold;
    }

    .form-containerr {
        position: absolute;
        top: 11%;
        right: 27%;
        height: 80%;
        transition: all 0.6s ease-in-out;
        width: 45%;
    }



    

    .here #hovering {
        background-color: #FFE250;
    }
