@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slogan{
  font-size: 4.1rem;
  line-height: 1;
}

.cardContainer{
  transform: translateX(10%);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -25%;
    height: 400px;
    width: 900px;
    border-radius: 25px;
    transform-origin: top;
    .body{
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;
      h2{
        text-align: center;
        margin: 0px;
        font-size: 28px;
      }
      .description{
        width: 40%;
        position: relative;
        top: 10%;
        p{
          font-size: 16px;
          &::first-letter{
            font-size: 28px;
            font-family: 'Title';
          }
        }
        span{
          display: flex;
          align-items: center;
          gap: 5px;
          a{
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner{
          width: 60%;
          height: 50%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}

.main{
  position: relative;
}
.usercard{
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.bgw{
  background-image: url('../assets/LampPuzzel.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.grid-container {
  display: grid;
  grid-template-columns: 70px 70px 215px 20px 250px; /* Define five columns with different widths */
}

.radius{
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
}

.svgg {
  position: absolute;
  top: 12em;
  left: 10vw;
  width: 50vw;

  .mask {
      width: 0;
  }
}

.container {
  display: flex;
  width: 300vw;

  .col {
      display: flex;
      gap: 3em;
      
      p {
          font-size: .8rem;
      }
  }

  section {
      width: 100vw;
      padding: 20vw 10vw;

      h1 {
          font-size: 3rem;
          margin: 0;
      }

      p {
          font-size: 1.2rem;
          width: 50vw;
      }

      ul {
          list-style-type: none;
          display: flex;
          gap: 3em;
          width: 100%;
          height: 300px;
          padding: 0;

          li {
              background: white;
              border-radius: .3em;
              flex-grow: 1;
          }
      }

  }
}

section {
  height: 100vh;

}